	.box{
        width: 260px;
        min-height: 40px;
        /*border: solid 1px #BE7591;*/
        border-radius: 5px;
        position: absolute;
        top: 20%;
        left: 50%;
        /*margin-top: -20px;*/
        margin-left: -130px;
    }
    header{
        position: relative;
        border: solid 1px #BE7591;
        padding: 8px;
        box-sizing: border-box;
        /*min-height: 40px;*/
       overflow: hidden;
    }
    .checkAll{
    	width: 38px;
        height: 38px;
        display: block;
        float: left;
        border: solid 1px #BE7591;
        box-sizing: border-box;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        line-height: 42px;
        font-size: 25px;
        cursor: pointer;
        font-weight: bolder;
        color: #cccccc;
        display: none;
    }
    .notAll .allSel{
    	display: none;
    }
    .allRight .allSel{
    	width: 38px;
    	height: 38px;
    	display: block;
    	float: left;
    	
    }
    #text{
        width: 200px;
        min-height: 40px;
        padding: 0;
        margin: 0;
        text-indent: 1em;
        outline: none;
        font-size: 18px;
        border: none;
        /*border: solid 1px #BE7591;*/
        border-radius: 5px;
        font-weight: bolder;
        float: right;
    }
    #text::-webkit-input-placeholder{
        font-size: 18px;
        font-style: italic;
        font-weight: bolder;
        color: #cccccc;
    }
    #lists{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 260px;
        height: auto;

    }
    #lists li{
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        height: 54px;
        border: 1px solid #BE7591;
        border-top: none;
        position: relative;
    }
    .sel{
        display: block;
        float: left;
        width: 38px;
        height: 38px;
        border: solid 1px #BE7591;
        border-radius: 50%;
        text-align: center;
        /*overflow: hidden;*/
        line-height: 42px;
        font-size: 25px;
        cursor: pointer;
        font-weight: bolder;
        color: #cccccc;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .checkHere .right{
    	display: inline-block;
    	display: block;
    }
    .notCheck .right{
    	display: none;
    }
    .right{
        display: inline-block;
        width:100%;
        height: 100%;
        display: none;
    }
    .content{
        width: 200px;
        height: 38px;
        /*border: solid 1px #BE7591;*/
        float: left;
        overflow: visible;
        text-indent: 1em;
        line-height: 38px;
        font-weight: bolder;
        font-size: 18px;
    }
    .wrong{
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        height: 38px;
        top: 0px;
        right: 5px;
        font-size: 50px;
        display: none;
        color: #af5b5e;
    }
    #lists li:hover .wrong{
        display: block;
    }
    .checkHere + .content{
    	text-decoration: line-through;
    	color: #CCCCCC;
    }
