	*{
		margin:0;
		padding: 0;
		list-style: none;
	}
	header{
		height: 50px;
		width: 100%;
		background: #009F95;
		line-height: 50px;
		color: white;
	}
	.box{
		width: 80%;
		height: 50px;
		margin: 0 auto;
	}
	header h2{
		float: left;
	}
	header h3{
		margin-left: 20px;
		float: left;
	}
	section{
		width: 85%;
		min-height: 300px;
		border: solid 1px #009F95;
		margin: 20px auto;
		padding: 20px 5%;
		position: relative;
		overflow: hidden;
	}
	#title{
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 30px;
		border: solid 1px #009F95;
		outline: none;
		background: rgba(0,159,149,0.5);
		border-radius: 5px;
		color: white;
	}
	#title::-webkit-input-placeholder{
		font-weight: bolder;
		color: #009F95;
		/*opacity: 0.3;*/
	}
	*::selection{
		background: #009F95;
		color: white;
	}
	#addContent{
		border-top: solid 1px #009F95;
		border-bottom: solid 1px #009F95;
		margin: 20px auto;
		min-height: 50px;
	}
	#addContent li{
		padding: 10px;
	}
	#addContent div{
		overflow: hidden;
		padding-left: 20px;
	}
	#addContent input[type="radio"]{
		float: left;
		height: 25px;
	}
	#addContent label{
		text-indent: 0.3em;
		float: left;
	}
	#addQuestion{
		display: block;
		width: 100%;
		height: 80px;
		line-height: 80px;
		text-align: center;
		font-size: 30px;
		border: solid 1px #009F95;
		outline: none;
		border-radius: 5px;
		cursor: pointer;
		text-decoration: none;
		background: rgba(0,159,149,0.5);
		color: #FFFFFF;
		font-weight: bold;
	}
	#addQuestion:hover{
		background: rgba(0,159,149,1);;
	}
	.layui-layer-title{
		background: #009F95 !important;
		color: white !important;
	}
	.layui-layer-btn{
		text-align: center !important;
	}
	.layui-layer-btn0{
		background: #009F95 !important;
	}
	.layui-layer-btn1{
		background: #C81623 !important;
		color: white !important;
	}
	.layui-layer-content{
		height: auto !important;
	}
	#inpQ{
		display: block;
		margin: 10px auto;
		width:200px;
		height: 30px;
		border: #009F95 solid 1px;
		border-radius: 3px;
		text-align: center;
		outline: none;
	}
	#inpQ::-webkit-input-placeholder{
		color: rgba(205,45,57,0.5);
	}
	#selBox{
		overflow: hidden;
		min-height: 20px;
	}
	#selBox > input{
		display: block;
		margin: 0  auto 10px;
		width:200px;
		height: 30px;
		border: #009F95 solid 1px;
		border-radius: 3px;
		text-align: center;
		outline: none;
	}
	#selBox > input::-webkit-input-placeholder{
		color: rgba(0,159,149,0.5);
	}
	#selBtn{
		display: block;
		margin: 10px auto;
		width: 200px;
		height: 30px;
		outline: none;
		border: none;
		color: white;
		background: linear-gradient(#5DFCF2 0,#009e95 100%) !important;
		cursor: pointer;
		border-radius: 3px;
	}
	#selBtn:active{
		background: linear-gradient(#009e95 0,#5DFCF2 100%) !important;
	}
	.action{
		height: 50px;
		border-top: 1px solid #009F95;
		margin: 23px auto 0;
		overflow: hidden;
	}
	.diedline{
		float: left;
		margin: 13px 20px;
	}
	.actionSave{
		float: right;
		margin: 13px 20px;
	}
	.actionSave > a{
		text-decoration: none;
		display: block;
		float: left;
		padding: 3px 8px;
		margin: auto 10px;
		color: white;
		border-radius: 8px;
	}
	.saveBut{
		box-shadow: 0 0 5px 2px #009688;
		background:  linear-gradient(#5DFCF2 0,#009e95 100%);
	}
	.saveBut:active{
		background: linear-gradient(#009e95 0,#5DFCF2 100%);
	}
	.pubBut{
		box-shadow: 0 0 5px 2px #FF646F;
		background: linear-gradient(#FF646F,#CD2D39 100%);
	}
	.pubBut:active{
		background: linear-gradient(#CD2D39 0,#FF646F 100%);
	}
	#updateData table{
		border: solid 1px #009688;
		width: 100%;
		text-align: center;
	}
	#updateData thead{
		color: #009688;
	}
	#updateData thead th:last-child{
		color: #CD2D39;
	}
